.meter {
	font-size: 1px;
	height: 10px;
	width: 100%;
}

.meter-inner {
	width: 0px;
	height: 10px;
}

.meter-gray .meter-inner {
	background: #BDBDBD;
}

.meter-red .meter-inner {
	background: #B71C1C;
}

.meter-orange .meter-inner {
	background: #FFA000;
}

.meter-green .meter-inner {
	background: #00C853;
}


.meter-color-grey {
	color: #BDBDBD !important;
}
.meter-color-red {
	color: #B71C1C !important;
}
.meter-color-orange {
	color: #FFA000 !important;
}
.meter-color-green {
	color: #00C853 !important;
}

.btn-gov-br {
	height: 40px;
    padding: 0 16px 0 16px;
    color: #1351B4;
    font-family: sans-serif;
    border: 1px solid #1351B4;
    font-size: 1rem;
    font-weight: 600;
    width: 256px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    text-transform: none;
}

@media screen and (max-width: 568px){
	.btn-gov-br {
		width: 100%;
	}
}

.btn-gov-br:hover {
	background: none;
	color: #1351B4;
}

.btn-barra {
	color: #000000;
	text-transform: none;
    font-size: 15px;
} 


.mensagem-tela-login {
	margin: 15px;
    font-size: 1.5rem;
}

::placeholder {
  	text-transform: none !important;
    font-size: 14px;
    color: #757575;
    font-style: italic;
    font-weight: 500;
}

.main .content {
  all: none;
}

img {
	padding-left: 5px;
}

a {
    /* padding-right: 10px; */
    color: black;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    align-items: baseline;
}


.button-CD {
	padding: 2px 0 0 2px;
	margin: 0;
	border: none;
    position: absolute;
	left: 0;
	// width: 100%;
	border-radius: 100px;
	font-size: 1rem;
	font-family: sans-serif;
    background: transparent;
	text-transform: none;
    height: 38px;
    color: #1351B4;
    font-weight: 600;
	box-shadow: none;
}

.button-CD:hover {
	color: #1351B4;
	background: transparent;
	border: none;
}


.btn-certificado {
	height: 40px;
    color: white;
    font-size: 14px;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding: 0 15px;
    cursor: pointer;
    transition: transform .2s;
}

.img-fluid {
	padding: 0 50px;
}

element.style {
	min-height: 0px !important;
}

.fonts {
	padding: 0 10px 0 0 ;
}

::-ms-reveal {
  display: none !important;
}

@keyframes exibirOutros {
  0% { visibility: hidden; opacity: 0; }
  25% { visibility: visible; opacity: 1; }
  75% { visibility: visible; opacity: 1; }
  100% { visibility: hidden; opacity: 0; }
}


@media screen and (max-width: 768px){
	.passeye {
		display: none;
	}
}

/*Solicitação recuperação senha*/

.container-senha {
	
	backgroud: white !important;
}

.button-rec {
	margin-top: 10px !important;
	background: #1351B4 !important;
	border-radius: 42px !important;
	padding: 0 30px !important;
	height: 40px !important;
}

.title-rec {
	color: #1351B4 !important;
}

.label-rec {
	color: #000000 !important;
    font-size: 1rem !important;
}

.icon-rec {
	background: #1351B4 !important;
}

.mainbar__title {
    color: #000000 !important;
}

.div-desbloquear {
	margin: 1rem 0 !important;
}

.navbar-rec {
	background: white !important;
	box-shadow: 1px 1px 5px #888 !important;
	border: none !important;
}

.container-rec {
	max-width: 350px !important;
}

.input-rec {
	border: 2px solid black !important;
	border-radius: 4px !important;
	font-size: 16px !important;
	font-weight: 600 !important;
}

.destaqueLabel {
	background: #1351B4 !important;
}

.logo-rec {
	width: 250px;
    padding: 20px;
}

.groupbox-rec {
	margin: 2.66667rem 0 1.66667rem 0 !important;
}

.tutorial-help {
	color: black !important;
	font-size: 1rem !important;
	font-weight: 500 !important;
	padding: 3px 0 !important;
}

.title-help {
	font-size: 1.2rem !important;
    color: black !important;
}

.container-help {
	padding-top: 40px !important;
}

.img-logo-prodemge {
	margin: 3rem auto 0 !important;
}
